section.comment(data-article="comment").js-menu
  .container
    .comment__block.wow.fadeIn(data-wow-duration="2s")
      span.subtitle.comment__subtitle О нас говорят
      h3.title.comment__title Отзывы наших
        br
        | любимых гостей
    .comment__slider
      .slider
        .slider__display.display
          ul.display__list
            li.display__item.display__item--active
              .display__photo
                img(src="app/img/slider/slider__1.png" alt="Фото")
              .display__info
                p.display__text “Дорогие, любимые!!!! Спасибо за эмоции, за летний дождь, за тепло, за яркость, за ваше безграничное сердце! Обожаю вас!!!!. Дорогие, любимые!!!! Спасибо за эмоции, за летний дождь!”
                span.display__name Оксана Капачинская
            li.display__item
              .display__photo
                img(src="app/img/slider/slider__1.png" alt="Фото")
              .display__info
                p.display__text “Дорогие, любимые!!!! Текст 2”
                span.display__name Человек 2
            li.display__item
              .display__photo
                img(src="app/img/slider/slider__1.png" alt="Фото")
              .display__info
                p.display__text “Дорогие, любимые!!!! Текст 3”
                span.display__name Человек 3
            li.display__item
              .display__photo
                img(src="app/img/slider/slider__1.png" alt="Фото")
              .display__info
                p.display__text “Дорогие, любимые!!!! Текст 4”
                span.display__name Человек 4
            li.display__item
              .display__photo
                img(src="app/img/slider/slider__1.png" alt="Фото")
              .display__info
                p.display__text “Дорогие, любимые!!!! Текст 5”
                span.display__name Человек 5
        .slider__controls
          .slider__prev
            +icon('arrow')
          .slider__next
            +icon('arrow')
        .slider__users.users
          ul.users__list
            li.users__item.users__item--active
              img(src="app/img/slider/slider__1.png" alt="Фото")
            li.users__item
              img(src="app/img/slider/slider__1.png" alt="Фото")
            li.users__item
              img(src="app/img/slider/slider__1.png" alt="Фото")
            li.users__item
              img(src="app/img/slider/slider__1.png" alt="Фото")
            li.users__item
              img(src="app/img/slider/slider__1.png" alt="Фото")