section.donat
  .container
    .donat__block.wow.fadeIn(data-wow-duration="2s")
      +icon('heart')
      h3.title.title--min.donat__title Мы нуждаемся в вашей поддержке
      .donat__info
        p.donat__text Когда видишь глаза ребёнка, который...
        p.donat__text Нужен текст сюда Вначале детишки пробовали свои силы в творчестве на разных площадках, где проводились мастер-классы. Ребята делали тряпичных кукол, лепили фигурки из глины и шариков, украшали карамельным кремом и сахарной пудрой кексы, а потом их съедали.
      button.btn.btn--donat Поддержать
