header.header(style="background-image: url('app/img/header/header__1.jpg')")
  .container
    .header__top--fixed
      .header__logo
        .logo
          +icon('logo')
      .header__menu
        nav.menu
          ul.menu__list
            li.menu__item
              a.menu__link.menu__link--active(href="#about") О нас
            li.menu__item
              a.menu__link(href="#project") Проекты
            li.menu__item
              a.menu__link(href="#social") Мы в сети
            li.menu__item
              a.menu__link(href="#comment") Отзывы
      div.header__donat
        button.btn.btn--white Пожертвовать
    .header__top
      .header__logo
        .logo
          +icon('logo')
      .header__menu
        nav.menu
          ul.menu__list
            li.menu__item
              a.menu__link(href="#about") О нас
            li.menu__item
              a.menu__link(href="#project") Проекты
            li.menu__item
              a.menu__link(href="#social") Мы в сети
            li.menu__item
              a.menu__link(href="#comment") Отзывы
      div.header__donat
        button.btn.btn--white Пожертвовать
    .header__middle
      h1.header__subtitle «Союз добрых сердец»
      span.header__title Мы дарим
        br
        | радость
      button.btn.btn--fill.js-btn--about.wow.bounceIn(data-wow-duration="2s") О нас
    .header__bottom.wow.fadeInUp(data-wow-delay="1s")
      .timer
        ul.timer__list
          li.timer__block.timer__block--active
              .timer__load
              span.timer__counter
                strong 01 
                | дарим радость
          li.timer__block
              .timer__load
              span.timer__counter
                strong 02 
                | дарим радость
          li.timer__block
              .timer__load
              span.timer__counter
                strong 03 
                | дарим радость
          li.timer__block
              .timer__load
              span.timer__counter
                strong 04 
                | дарим радость
