section.number
  .container
    .number__list
      .number__item
        .number__counter(data-counter="43") 43
        span.number__descr Больниц посетили
      .number__item
        .number__counter(data-counter="576") 576
        span.number__descr Счастливых детей
      .number__item
        .number__counter(data-counter="15") 15
        span.number__descr Дипломов и наград
      .number__item
        .number__counter(data-counter="999") 999
        span.number__descr Надуто шаров
      .number__item
        .number__counter(data-counter="24") 24
        span.number__descr Членов в команде