section.project(data-article="project")
  .project__block.wow.fadeIn(data-wow-duration="2s")
    span.subtitle.project__subtitle Кто мы такие?
    h3.title.project__title Наши проекты
  .project__wrap
    .container
      .project__item
        .project__photo.wow.fadeInLeft
          img(src="app/img/project/project__1.jpg" alt="Фото проекта")
        .project__descr.wow.fadeInRight
          .project__counter 1
          h2.project__name Больничные клоуны
          p.project__text.project__text--italic “Юмор и смех – лекарство для всех.”
          p.project__text Больничная клоунада – специальная программа для госпиталей и медицинских центров. Клоуны, прошедшие специальное обучение, посещают палаты и общаются с пациентами.
          p.project__text Это помогает лечению и снижает стресс пациентов, поддерживает персонал и родственников пациентов. Позитивная сила надежды и юмора удивительно мотивирует к выздоровлению.
          button.btn.project__button Развернуть
            +icon('arrow')
  .project__wrap--gray
    .container
      .project__item
        .project__photo.wow.fadeInRight
          img(src="app/img/project/project__1.jpg" alt="Фото проекта")
        .project__descr.wow.fadeInLeft
          .project__counter 2
          h2.project__name Работа с детскими домами, 
            span реабилитационными центрами
          p.project__text Наши клоуны с большим волнением и тщательностью готовятся к спектаклям. А какое волнение перед каждым показом! Каждое Рождество мы дарим деткам добрый спектакль, который укрепляет веру в чудо. В 2017 году, например, это была сказка о приключениях Буратино.
          p.project__text В реабилитационном центре «Я вижу сердцем» (пгт Лаишево) мы показали спектакль «Что такое зима?». Наши зрители были главными актерами и волшебниками.
          button.btn.project__button Развернуть
            +icon('arrow')
  .project__wrap
    .container
      .project__item
        .project__photo.wow.fadeInLeft
          img(src="app/img/project/project__1.jpg" alt="Фото проекта")
        .project__descr.wow.fadeInRight
          .project__counter 3
          h2.project__name Благотворительные фестивали
          p.project__text Городской инклюзивный фестиваль «Чемодан чудес» - наш крупный проект, которым мы гордимся. Первый семейный праздник  состоялся летом 2013 года. Сегодня с нами сотрудничают более 30 партнеров, поддерживают администрация Набережных Челнов и Камский детский медицинский центр.
          p.project__text Наш «Чемодан чудес» - это праздник детства, который воспитывает доброту и умение жить в гармонии. Это мероприятие помогает формировать толерантное отношение общества к семьям, воспитывающим детей с ограниченными возможностями.
          button.btn.project__button Развернуть
            +icon('arrow')
  .project__wrap--gray
    .container
      .project__item
        .project__photo.wow.fadeInRight
          img(src="app/img/project/project__1.jpg" alt="Фото проекта")
        .project__descr.wow.fadeInLeft
          .project__counter 4
          h2.project__name «Без границ» 
          span Молодежный благотворительный театр
          p.project__text Появился в 2005 году. Наши зрители - воспитанники детских домов и реабилитационных центров.  Актерский состав сложился из неравнодушных молодых людей – школьников старших классов, студентов и выпускников.
          p.project__text Появился в 2005 году. Наши зрители - воспитанники детских домов и реабилитационных центров.  Актерский состав сложился из неравнодушных молодых людей – школьников старших классов, студентов и выпускников.
          button.btn.project__button Развернуть
            +icon('arrow')
  .project__wrap
    .container
      .project__item
        .project__photo.wow.fadeInLeft
          img(src="app/img/project/project__1.jpg" alt="Фото проекта")
        .project__descr.wow.fadeInRight
          .project__counter 5
          h2.project__name Инклюзивный театр «Проснись»
          p.project__text В 2014 году появилась идея его создания и были организованы уроки театрального искусства для детей с ограниченными возможностями. В 2015 году появилась первая группа «особенных» детей-актеров. 
          p.project__text  «Наша цель: дать детям возможность проявить себя, выйти из дома и делать что-то волшебно-необычное, а здоровым ребятам проявлять заботу, учиться помогать и общаться, не обращая внимания на физические различия, а открывая сердце» – Кузнецова Ирина, педагог и режиссер театра.
          button.btn.project__button Развернуть
            +icon('arrow')
