section.social(data-article="social").js-menu
  .container
    .social__block.wow.fadeIn(data-wow-duration="2s")
      span.subtitle.about__subtitle Не упусти интересное
      h3.title.social__title Следите за нами 
        br
        | в социальных сетях
    a.social__link(href="#")
      +icon('vk')
    .social__iphone(data-wow-delay="1s").wow.bounceInRight
      img(src="app/img/social/social__iphone.png" alt="Фото в Iphone")