.title {
	font-size: 30px;
	font-family: $boldFont;
	color: $titleColor;
	text-transform: uppercase;
	padding-bottom: 40px;
	position: relative;
	&:after {
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background: $mainColor;
		position: absolute;
		top: 100%;
		@include center('x');
	}
	@media (max-width: 960px) {
		font-size: 28px;
		padding-bottom: 35px;
	}
	@media (max-width: 700px) {
		font-size: 25px;
		padding-bottom: 30px;
	}
}

.title--min {
	font-size: 24px;
	color: white;
	padding-bottom: 20px;
	&:after {
		background: $accentColor;
	}
}


.subtitle {
	font-size: 24px;
	font-family: $introScriptFont;
	color: $titleColor;
	display: block;
	margin-bottom: 15px;
}