// Переменные

// Шрифты

$mainFont: "OpenSans", sans-serif;
$boldFont: "OpenSansBold", sans-serif;
$italicFont: "OpenSansItalic", sans-serif;
$introFont: "Intro", sans-serif;
$introScriptFont: "IntroScript", sans-serif;

// Цвета

$mainColor: #f38181;
$accentColor: #fce38a;
$lightColor: #eaffd0;
$blueColor: #95e1d3;
$textColor: #999999;
$titleColor: #333333;
$darkColor: #5b5b5b;