extends ../_template

block variables
  - var title = 'Clown'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  // Блок header
  include ../section/_header
  // Конец header
  // Блок about
  include ../section/_about
  // Конец about
  // Блок number
  include ../section/_number
  // Конец number
  // Блок project
  include ../section/_project
  // Конец project
  // Блок social
  include ../section/_social
  // Конец social
  // Блок comment
  include ../section/_comment
  // Конец comment
  // Блок donat
  include ../section/_donat
  // Конец donat