.about {
	text-align: center;
	padding: 90px 0;
}

.about__subtitle {
	margin-bottom: 15px;
}

.about__title {
	margin-bottom: 50px;
}

.about__text {
	width: 80%;
	margin: 0 auto 80px;
}

.about__list {
	display: flex;
}