.donat {
	background: url(../img/bg-donat.jpg) center no-repeat;
	background-size: cover;
	color: white;
	padding: 55px 0;
}

.donat__block {
	width: 50%;
	text-align: center;
	.icon--heart {
		width: 35px;
		height: 35px;
		fill: $accentColor;
		margin-bottom: 10px;
	}
}

.donat__title, .donat__info {
	margin-bottom: 45px;
}

.donat__text {
	margin-bottom: 25px;
	text-align: center;
	line-height: 1.5;
	&:last-child {
		margin-bottom: 0;
	}
}

// медиа запросы

@media (max-width: 960px) {
	.donat {
		background-position-x: 70%;
	}
}

@media (max-width: 700px) {
	.donat {
		padding: 40px 0;
	}
	.donat__block {
		width: 95%;
		margin: 0 auto;
	}
	.donat__text {
		font-size: 16px;
	}
}
