.project {
	padding: 80px 0;
}

.project__block {
	text-align: center;
}

.project__wrap--gray {
	background: #f8f8f8;
	.project__item {
		flex-direction: row-reverse;
	}
	.project__photo {
		&:before {
			transform: translate(15px, -32px) rotate(-2deg);
		}
	}
}

.project__item {
	padding: 85px 0 65px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.project__photo {
	width: 47.5%;
	position: relative;
	img {
		max-width: 100%;
		position: relative;
		z-index: 2;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border: 5px solid #f6ce8c;
		z-index: 1;
		transform: translate(-25px, -30px) rotate(-2deg);
	}
}

.project__descr {
	width: 47.5%;
	position: relative;
	padding-top: 10px;
	z-index: 10;
}

.project__counter {
	color: #f3bd65;
	opacity: .4;
	font-family: $extraBoldFont;
	font-size: 100px;
	position: absolute;
	top: -25px;
	left: -10px;
	z-index: 2;
}

.project__name {
	font-family: $boldFont;
	font-size: 30px;
	color: $titleColor;
	margin-bottom: 45px;
	text-transform: uppercase;
	position: relative;
	z-index: 3;
	span {
		font-size: 20px;
	}
}

.project__text {
	margin-bottom: 35px;
	line-height: 24px;
}

.project__text--italic {
	font-family: $italicFont;
}

.project__button {
	.icon--arrow {
		width: 15px;
		height: 15px;
		fill: $accentColor;
		@extend .trs;
		margin-left: 10px;
		vertical-align: sub;
	}
	&:hover {
		.icon--arrow {
			fill: white;
		}
	}
}