.project {
	padding: 80px 0;
}

.project__block {
	text-align: center;
}

.project__wrap--gray {
	background: #f8f8f8;
	position: relative;
	z-index: -2;
	.project__item {
		flex-direction: row-reverse;
	}
	.project__photo {
		text-align: left;
		&:before {
			transform: translate(10px, -25px) rotate(-2deg);
		}
	}
}

.project__item {
	padding: 85px 0 65px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.project__photo {
	width: 50%;
	position: relative;
	text-align: right;
	img {
		max-width: 100%;
		position: relative;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 95%;
		height: 95%;
		border: 5px solid #f6ce8c;
		z-index: -1;
		transform: translate(10px, -30px) rotate(-2deg);
	}
}

.project__descr {
	width: 50%;
	position: relative;
	padding: 10px 20px;
}

.project__counter {
	color: #f3bd65;
	opacity: .4;
	font-family: $extraBoldFont;
	font-size: 100px;
	position: absolute;
	top: -25px;
	left: 5px;
}

.project__name {
	font-family: $boldFont;
	font-size: 30px;
	color: $titleColor;
	margin-bottom: 45px;
	text-transform: uppercase;
	position: relative;
	span {
		font-size: 20px;
	}
}

.project__text {
	margin-bottom: 35px;
	line-height: 24px;
	&:last-child {
		margin-bottom: 0;
	}
}
.project__text--js {
	display: none;
}
.project__text--italic {
	font-family: $italicFont;
}

.project__button {
	.icon--arrow {
		width: 15px;
		height: 15px;
		fill: $accentColor;
		@extend .trs;
		margin-left: 10px;
		vertical-align: sub;
	}
	&:hover {
		.icon--arrow {
			fill: white;
		}
	}
}
.project__button--active {
	.icon--arrow {
		transform: rotate(180deg);
	}
}


// Медиа запросы

@media (max-width: 1200px) {
	.project__text {
		font-size: 15px;
	}
}

@media (max-width: 700px) {
	.project__item {
		flex-direction: column;
		align-items: center;
	}
	.project__photo {
		width: 90%;
		margin-bottom: 20px;
		&:before {
			transform: translate(30px, -30px) rotate(-2deg);
		}
	}
	.project__descr {
		width: 95%;
	}
	.project__wrap--gray {
		.project__item {
			flex-direction: column;
			align-items: center;
		}
		.project__photo {
			&:before {
				transform: translate(-25px, -30px) rotate(1deg);
			}
		}
	}
	.project__name {
		text-align: center;
	}
}

@media (max-width: 480px) {
	.project__photo {
		&:before {
			width: 90%;
			height: 90%;
		}
	}
	.project__wrap--gray {
		.project__photo {
			&:before {
				transform: translate(-20px, -25px) rotate(1deg);
			}
		}
	}
}